* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}
/* HEADER */
.header-container {
  background-color: #fff;
  max-width: 1858px;
  height: 88px;
}

body {
  background-color: #fff;
}

.nav-header {
  display: flex;
  gap: 72px;
  justify-content: center;
  list-style-type: none;
}

.nav-header a {
  text-decoration: none;
}

.nav-header li {
  margin-top: 32px;
  display: inline;
}

.item-header {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
/* IMAGE */

img {
  margin: 0 auto;
  overflow: hidden;
  width: 200%;
  display: flex;
  max-width: 1203px;
}

.main-container {
  margin: 0 auto;
}

.main-container img {
  margin: 0 auto;
  max-width: 1903px;
  max-height: 800px;
}

.main-container_text {
  color: #000;
  /* display: flex;
  justify-content: center; */
  font-size: 48px;
  margin-top: 88px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}
.main-container-first_paragraph {
  color: #161616;
  font-size: 21px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.container-text_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SPAN TEXT */
.span-main-container_text {
  color: #04959e;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

main ol {
  color: #161616;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 24px;
  margin-left: 35px;
}

/* BUTTON */

.container-button {
  display: flex;
  border: none;
  padding: 10px 24px;
  margin-top: 50px;
  justify-content: center;
  background: #04959e;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

footer {
  margin: 0 auto;
  margin-top: 101px;
  width: 1841px;
}

.footer-text {
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  padding: 20px;
}
